@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BASE ================= */

body {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: #f2ebe3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

section {
  display: flex;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 1.5em;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* ================= IMAGE ================= */

.imgContainer {
  width: 50%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= DETAILS ================= */

.details {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.product {
  font-size: 14px;
  letter-spacing: 4px;
  color: #70768f;
  margin-bottom: 1rem;
}

.productTitle {
  font-family: "Fraunces", serif;
  font-size: 32px;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.desc {
  font-size: 15px;
  color: #70768f;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.price {
  margin-bottom: 1.5rem;
}

.sellPrice {
  color: #35705a;
  font-size: 26px;
  font-family: "Fraunces", serif;
  margin-right: 10px;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
}

.btn {
  width: 100%;
  padding: 0.9rem;
  background-color: #35705a;
  border-radius: 0.7em;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  transition: 0.3s;
}

.btnText{
    cursor: pointer;
  color: #ffffff !important;
}
.btn:hover {
  background-color: #2b5c4a;
}
.seo-footer {
  margin-top: auto;
  font-size: 12px;
  color: #777;
  text-align: center;
  padding-top: 10px;
}

/* ================= TABLET ================= */

@media (max-width: 768px) {
  section {
    flex-direction: column;
    display: flex;
    max-width: 350px;
  }

  .imgContainer,
  .details {
    width: 100%;
  }

  .imgContainer {
    height: 260px;
  }

  .details {
    padding: 1.5rem;
  }

  .productTitle {
    font-size: 26px;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 480px) {
  main {
    padding: 0.5rem;
  }

  .imgContainer {
    height: 220px;
  }

  .product {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .productTitle {
    font-size: 24px;
  }

  .desc {
    font-size: 14px;
  }

  .btn {
    padding: 0.8rem;
    font-size: 14px;
  }
}
